name: Request Unity License
on:
  workflow_dispatch:  # run manually

jobs:
  activation:
    runs-on: ubuntu-latest
    steps:
      - name: Request manual activation file
        uses: game-ci/unity-request-activation-file@v2
